
.info {
    background-color: white;
    color:303030;
    padding: 1em;
}

.info > h2 {
    text-align: left
}

.info > .descripcion-producto {
    text-align: left;
    font-size: 1.1em;
    padding: 1em;
    background-color: #ffe8df;
    border-radius: 10px;
}

.boton {
    margin-bottom: 10px;
}